    footer {
        width: 100%;
        height: 160px;
        background: #3880ff57;
        text-align: center;
        margin: auto;
        border-top: 3px inset darkred;
        border-bottom: 3px outset darkred;
        font-size: 80%;
        display: relative;
    }
    
    .fixed {
        display: absolute;
        bottom: 0;
    }
    
    .social-links li {
        display: inline-block;
        margin: 0 auto;
        max-width: 320px;
        text-align: center;
        /* padding-top: 25px; */
        font-size: 120%;
        padding: 25px 10px 0;
    }
    
    #ion-social-facebook,
    #ion-social-instagram,
    #ion-social-email {
        color: white;
    }
    
    footer p:last-of-type {
        padding-bottom: 0;
    }