.top-menu {
    border-bottom: 1px solid lightgray;
    padding: 10px;
    width: 100%;
    height: 40px;
}

.logo {
    font-family: 'Audiowide', cursive;
    color: darkgrey;
    display: inline-block;
    vertical-align: top;
}

.top-navigation {
    display: inline-block;
    width: 80%;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.links {
    text-align: right;
}

.top-navigation li {
    display: inline-block;
    margin: 0 10px;
}

.top-navigation a,
.top-navigation button {
    text-decoration: none;
    border: 0;
    font-size: 16px;
    font-family: sans-serif;
    color: darkgray;
}