.top-menu {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #0223a6;
}

.logo {
    font-family: 'Audiowide', cursive;
    color: #ffeda4;
    display: inline-block;
    vertical-align: top;
}

.title {
    text-decoration: none;
    margin-bottom: 0;
}

.top-navigation {
    display: inline-block;
}

.content {
    margin: 0 auto;
}

.links {
    text-align: right;
}

.top-navigation li {
    display: inline-block;
    margin: 0 10px;
}

.top-navigation a,
.top-navigation button {
    text-decoration: none;
    border: 0;
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    color: #ffeda4;
    margin: 0 25px;
    background-color: #0223a6;
}

.top-navigation a:hover,
.top-navigation button:hover {
    color: rgb(176, 0, 0);


@media all and (max-width: 620px) {
    .logo {
        font-size: 16px;
    }
    .top-navigation li {
        margin: 0 5px;
    }
    .top-navigation button {
        margin: 0 15px 0 0;
    }
    .top-navigation a,
    .top-navigation button {
        margin: 0;
        padding: 0;
        font-size: 14px;
        margin: 0;
    }
    .top-navigation a:hover,
    .top-navigation button:hover {
        color: rgb(176, 0, 0);

    }
}